body, html {
  width: 100%;
  height: 100%;
  font-family: Apple Chancery, cursive;
  margin: 0 auto;
  display: block;
  text-align: center;
  background-image: url('/images/white-wood.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}


.container, h1 {
  width: 80%;
  max-width: 600px;
  min-width: 400px;
  padding: 10px;
  margin: 10px auto;
}

h4 {
  width: fit-content;
  display: inline-block;
  padding: 5px;
  margin: 20px 0 0 0;
}


.amiable {
  border: 1px solid #22aa44;
  box-shadow:  -1px 1px #22aa44, -2px 2px #22aa44, -3px 3px #22aa44, -4px 4px #22aa44, -5px 5px #22aa44;
  background-color: #44cc66;

}

.gradient-box-a {
  border: 1px solid #22aa44;
  box-shadow:  -1px 1px #22aa44, -2px 2px #22aa44, -3px 3px #22aa44, -4px 4px #22aa44, -5px 5px #22aa44;
  background: linear-gradient(to right, #3f87a6, #ebf8e1, #f69d3c);
}


.indifferent {
  border: 1px solid #aea925;
  box-shadow:  -1px 1px #aea925, -2px 2px #aea925, -3px 3px #aea925, -4px 4px #aea925, -5px 5px #aea925;
  background-color: #dddd22;
}

.gradient-box-b {
  border: 1px solid #aea925;
  box-shadow:  -1px 1px #aea925, -2px 2px #aea925, -3px 3px #aea925, -4px 4px #aea925, -5px 5px #aea925;
  background: linear-gradient(to right, #3f87a6, #ebf8e1, #f69d3c);
}

.dubious {
  border: 1px solid #af1e25;
  box-shadow:  -1px 1px #af1e25, -2px 2px #af1e25, -3px 3px #af1e25, -4px 4px #af1e25, -5px 5px #af1e25;
  background-color: #dd4444;
}

.gradient-box-c {
  border: 1px solid #af1e25;
  box-shadow:  -1px 1px #af1e25, -2px 2px #af1e25, -3px 3px #af1e25, -4px 4px #af1e25, -5px 5px #af1e25;
  background: linear-gradient(to right, #7b0005, #7b0005, #f69d3c);
}


.column {
  width: 30%;
  display: inline-block;
}

.small {
  width: 100%;
  height: 100%;
  border: 1px solid #333;
  box-sizing: border-box;
}

.med {
  width: 203.5%;
  border: 1px solid #333;
  box-sizing: border-box;
}

.large {
  width: 303%;
  border: 1px solid #333;
  box-sizing: border-box;
}
